@import "bulma/sass/utilities/initial-variables";

$dark-background: #232c33;
$dark-background-text: #FFFFFF;

$menu-item-active-background-color: #feaa0b;
$menu-item-color: $dark-background-text;
$menu-label-color: $grey;
$dark-background-index: #3F3D56;

$primary: #feaa0b;
$info: #2b9eb3;
$blurple: #7289da;

$navbar-height: 3.25rem;
