
.account-page {
  .dgr {
    border-bottom: 2px solid whitesmoke;
    padding-bottom: 1px;
  }
  .account-info p {
    padding-bottom: 2px;
  }
  .subtitle {
    border-bottom: 2px solid whitesmoke;
    padding-top: 1rem;
  }



}
