@import '../../../index';
@import "./checkbox";
.group-img {
    height: 100%;
    border-radius: 4px;
    width: auto;
}
.group-info {
    padding: 1em;
}
.sidebar-container {
  max-height: 100vh;
}
.sidebar {
    min-height: 100vh;
    background-color: $dark-background;
    color: $dark-background-text;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
}
.ownertext {
    margin-top: -1.25em
}
.indented-text {
    padding-left: 1em;
}
.panel-right-column {
    overflow-y: scroll;
    height: calc(100vh + 0.75rem);
    margin: 0 !important;
}

.token-manager .box {
    margin-bottom: 0.5rem;
    cursor: pointer;
}
.token-manager .wrap {
    word-wrap: break-word;
    pointer-events: bounding-box;
    height: 100%;
}

.token-manager .clickable {
    cursor: pointer;
}
.add-key-form {
    padding-bottom: 0.5rem;
}
.integrations-menu {
    .fa-discord {
        color: #7289DA;
    }

    .fa-robot {
        color: #94D1BE;
    }
    .fa-shield-alt {
        color: #A29C9B;
    }

    .integration-button-box {
        padding: 1rem;
        cursor: pointer;
    }

    .integration-button-box.is-inactive {
        opacity: 0.4;
    }
    .integration-button-box.is-inactive:hover {
        opacity: 1;
    }
    .last-para {
        margin-bottom: 1rem;
    }


}
.modal-desc {
    white-space: pre-wrap;
}
.group-defender {
    margin-top: 1vh;
    .title, .notification {
        margin-bottom: 0.5vh;
    }
    .desc {
        margin-bottom: 1vh;
    }
    .config-group {
        margin-left: 1rem;
        margin-bottom: 2rem;
    }
    form {
        hr {
            margin-top: 0;
        }
    }
    .field {
        padding-bottom: 0.3rem;
    }
    .bot-viewer {
        border: 1px solid gray;
        border-radius: 5px;
        padding: 0.3rem;
        img {
            border-radius: 4px;
        }
    }

}
