@import '../../../index';
.group-img {
    height: 100%;
    border-radius: 4px;
    width: auto;
}
.group-info {
    padding: 1em;
}
.sidebar {
    min-height: 100vh;
    background-color: $dark-background;
    color: $dark-background-text;
    padding-left: 1em;
    padding-right: 1em;
}
.ownertext {
    margin-top: -1.25em
}
.indented-text {
    padding-left: 1em;
}
.panel-right-column {
    padding-right: 2em;
}

.token-manager .box {
    margin-bottom: 0.5rem;
    cursor: pointer;
}
.token-manager .wrap {
    word-wrap: break-word;
    pointer-events: bounding-box;
    height: 100%;
}

.token-manager .clickable {
    cursor: pointer;
}
.add-key-form {
    padding-bottom: 0.5rem;
}
.integrations-menu {
    // Integrations. TODO: Move to their own file.
    .fa-discord {
        color: #7289DA;
    }

    .fa-robot {
        color: #94D1BE;
    }
    .fa-shield-alt {
        color: #A29C9B;
    }

    .integration-button-box {
        padding: 1rem;
        cursor: pointer;
    }

    .integration-button-box.is-inactive {
        opacity: 0.4;
    }
    .integration-button-box.is-inactive:hover {
        opacity: 1;
    }
    .last-para {
        margin-bottom: 1rem;
    }


}
.modal-desc {
    white-space: pre-wrap;
}
