@import "bulma/bulma";
@import "./shared/assets/switch.sass";

// Bulma "extensions"
.has-background-transparent {
  background-color: transparent !important;
}

.button.is-blurple {
  background-color: $blurple;
  color: #fff;
}
