@import 'src/index';
.group-img {
    height: 100%;
    border-radius: 4px;
    width: auto;
}
.group-info {
    padding: 1em;
}
.sidebar {
    min-height: 100vh;
    background-color: $dark-background;
    color: $dark-background-text;
    position: relative;
    padding-left: 1em;
    padding-right: 1em;
}
.ownertext {
    margin-top: -1.25em
}
.indented-text {
    padding-left: 1em;
}
.panel-right-column {
    padding-right: 2em;
}

.token-manager .box {
    margin-bottom: 0.5rem;
    cursor: pointer;
}
.token-manager .wrap {
    word-wrap: break-word;
    pointer-events: bounding-box;
    height: 100%;
}

.token-manager .clickable {
    cursor: pointer;
}
.add-key-form {
    padding-bottom: 0.5rem;
}
